/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d  //  #3c3180

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.671);
}

/* ----- zde začni psát vlastní CSS ----- */

/* ***** MOBILE Version ***** */

h1 {
	color: white;
	font-size: 40px;
	font-weight: 400;
	margin-top: 0;
}


/* ------------- Menu ----- */

.header {
	font-size: 18px;
	color: white;
	background-color: #3c3180/*rgba(8, 8, 8, 0.79)*/;
}

.logo {
	background-color: #362c74;
	padding: 15px 20px;
	border: 1px solid white;
	font-weight: 700;
}

.menu {
	display: flex;
}

.item {
	flex: 1 0 50%;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 15px 20px;
	border: 1px solid white;
	border-top: none;
}

#free {
	display: none;
}

.item:hover {
	color: white;
	background-color: #3c3180;
}

/* ------------- Hero ----- */

.hero {
	background: #3c3180 url(images/pozadi.jpg) no-repeat top left/cover;
	padding: 30px;
	padding-bottom: 0;
}

.text p {
	color: white;
	font-size: 24px;
	font-weight: 300;

}


.but {
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 12px 0;
	display: block;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	max-width: 500px;
}

.purple {
	margin-bottom: 10px;
	font-weight: 400;
	background-color: #4d3fa5;
}

.trans {
	font-weight: 300;
}

.image {
	min-height: 440px;
}

.image img { 
	/*max-width: calc(100% + 30px) ;
	padding-top: 40px;*/
	display: block;
	position: absolute;
	right: 0;
	bottom: -44px;
}
